body {
        /* background-image: linear-gradient(black, black),
          linear-gradient(black, black), linear-gradient(black, gray); */
        /* background-color: #1f1f1f; */
        font-size: 14px;
        line-height: 21px;

        background-color: #1f1f1f;
        background-image: url("https://www.yellowheart.io/kol/hero.png");
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* font-family: ; */
        font-family: Inter-Regular, sans-serif;
        font-weight: 200;
      
}

h1, h2, h3 {
  color: black;
}

a {
  color: #000;
}

.middle-block {
  margin: 15% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-block span{
  width: 18rem;
  color: #FFF;
  text-align: center;
}


.nft-band {
  text-align: center;
  color: white;
}